{% extends 'myapp/base.html' %}

{% block title %}
    home
{% endblock %}

{% block aside %}
    <aside>aside</aside>
{% endblock %}

{% block content %}
    <main class="col-md-10">
        {% for x in women %}


            <h1>{{ x.title | title }}</h1>
            <code>time update {{ x.time_update| date:"SHORT_DATE_FORMAT" }}</code>
            {% autoescape on %}
            <p>{{ x.content | title  }}</p>
            {% endautoescape %}


            <a href="">davomi</a>
        {% empty %}

            <h1>kechirasiz fayl topilmadi</h1>{% now "SHORT_DATETIME_FORMAT" %}
        {% endfor %}
    </main>
{% endblock %}
