{% extends 'myapp/base.html' %}

{% block title %}
    home
{% endblock %}

{% block aside %}
    <aside>aside</aside>
{% endblock %}

{% block content %}
    <main class="col-md-10">
        {% for x in women %}

            <h1>{{ x.title | title }}</h1>
            <p>{{ x.content | truncatewords:10 }}</p>
            time create
            <code>{{ x.time_create | date:"SHORT_DATE_FORMAT" }}</code>
            <br>
            time update
            <code>{{ x.time_update| date:"SHORT_DATE_FORMAT" }}</code>
            <a href="">davomi</a>
        {% empty %}

            <h1>kechirasiz fayl topilmadi</h1>
        {% endfor %}
    </main>
{% endblock %}
